.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; }
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}
@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}
@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
.odmak{
	padding-top: 5.6%;
}
input[type="text"], input[type="password"] {
    width: 100%;
    margin: auto;
}
.siroko{
	width: 100%;
}